@import "../lib/Button.css";
@import "../lib/element-ui.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-shadow {
    box-shadow: #f2f2f2 3px 3px 4px;
}

.items-col-center-flex {
    @apply flex flex-col justify-center
}

.good-for-eye-bg1 {
    background: antiquewhite;
}

html {
    user-select: none;
    min-height: 100vh;
    background-color: #abcdef;
}

.h-full-screen {
    height: calc(100vh - 4.8rem);
}

.header-bar-height {
    height: 4.8rem;
}

.basic-window {
    @apply px-24
}

.work-window-color {
    @apply bg-white
}

.dark-mode-text {
    @apply text-white
}

.window-image-back {
    background-image: url("../assets/bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.basic-shadow-box {
    border-radius: 0.75rem;
    border: 1px rgb(91, 92, 94);
    box-shadow: #2f2f2f 2px 2px 5px;
}
