.header-bar-bg-color {
    background-color: #9fa8a3;
}

.header-bar-shadow {
    box-shadow: #3c3c3c 2px 2px 6px;
}

.logo-text {
    color: #2929d9;
    @supports (-webkit-background-clip: text) or (background-clip: text) {
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }
}

.item-shadow {
    box-shadow: #3c3c3c 1px 1px 3px;
}

.item-shadow-active {
    box-shadow: #3c3c3c 1px 1px 3px inset;
}

.item-container {
    @apply my-1 py-0.5
}

.basis-nav {
    @apply item-container item-shadow  basis-[12.5%] flex justify-around hover:text-black rounded-lg
}

.active-nav {
    transition-duration: 1s;
    @apply item-container item-shadow-active  basis-[12.5%] flex justify-around hover:text-black rounded-lg
}

.shadow-float {
    box-shadow: 0 0 5px gray;
}

.nav-button-bg-color-blue {
    background: linear-gradient(to left top, #4cdef1, #7bb1e3);
}

.nav-button-bg-color-green {
    background: linear-gradient(to right bottom, #4cf1b7, #7bb1e3);
}
